
body {
    font-family: "Space Mono", Arial, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #7E7E7E;
    background: #fff;
}

highlight {
    font-family: "Space Mono", Arial, serif;
    font-weight: 600;
    font-size: 15px;
    color: #555555;
}

extra {
    font-weight: 600;
}

tech {
    font-weight: 900;
    color: #607789;
}

madewithlove {
    font-family: "Monofett", Arial, serif;
    font-size: 18px;
    color: #000000;
    z-index: 101;
    bottom: 10px;
    right: 20px;
    position: fixed;;
}

span {
    margin-right: 0.5em;
}

a {
    font-family: "Space Mono", Arial, serif;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    font-weight: 550;
    color: #2440AE;
    text-decoration: none;
}

a:hover {
    /*color: #A398EF;*/
    color: #F4EC59;
    text-decoration: none;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Space Mono", Arial, serif;
    color: #000;
}
  
maincontainer, picture {
    width: 100%;
}
  
@media (min-width: 576px) {
    maincontainer, picture {
      width: 50%;
    }
}
  
picture {
    background-position: top top;
    background-size: cover;
    height: 400px;
    position: relative;
}
  
@media (min-width: 576px) {
    picture {
      float: left;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
    }
}
  
maincontainer {
    float: right;
    padding: 6%;
    position: relative;
}

.redirect-home {
    float: left;
    position: absolute;
    top: 20px;
    color: #2440AE;
    font-size: 22px;
}

.redirect-resume {
    float: left;
    position: absolute;
    top: 20px;
    left: 22%;
    color: #2440AE;
    font-size: 20px;
}
.redirect-contact {
    float: left;
    position: absolute;
    top: 20px;
    left: 32%;
    color: #2440AE;
    font-size: 20px;
}

.redirect-home:hover, .redirect-resume:hover, .redirect-contact:hover {
    color: #F4EC59;
}

/* Experience Page specific */

.timeline {
    text-align: center;
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #e6e6e6;
    top: 20px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -10;
}

.timeline-heading {
    text-align: center;
    display: inline-block;
    padding: 0px 15px;
    text-transform: uppercase;
    letter-spacing: 7px;
    background: #20F2FE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom:5px;
    z-index: 100;
}

.timeline-section {
    margin: 5px 0 5px 0; 
    font-size:25px; 
    color: black; 
    font-family: 'VT323', Arial, serif;
}

location {
    font-size: 14px;
}

.date {
    font-size: 15px;
    color: #8491B0;
}

.timeline-item {
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-title {
    font-size: 20px;
    font-weight: 550;
}

.timeline-subtitle {
    display: block;
    font-size: 16px;
    font-weight: 350;
    color: #6C6B6B;
}

.timeline > li > .timeline-anchor {
    color: #101010;
    width: 43px;
    height: 43px;
    position: absolute;
    left: 50%;
    margin-left: -23px;
    background-color: #F4EC59;
    z-index: 50;
    display: table;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.left {
    left: 0;
    text-align: right;
    margin-right: 10px;
}
.right {
    left: 50%;
    text-align: left;
    margin-left: 10px;
}
.shift-right {
    margin-left: 10%;
}
.shift-left {
    margin-right: 10%;
}

/* TODO */
/* Small screens */
@media (max-width: 992px) {
    ul.timeline:before {
      left: 90px;
    }
    ul.timeline > li > .timeline-anchor {
      left: 15px;
      margin-left: 0;
      top: 16px;
    }
  
    ul.timeline > li > .timeline-item {
      float: right;
    }
  
    ul.timeline > li > .timeline-item:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
  
    ul.timeline > li > .timeline-item:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
}

@media screen and (max-width: 768px) {
    .timeline > li > .timeline-anchor {
      margin-left: -10px !important;
    }
  }
  @media screen and (max-width: 992px) {
    .timeline > li > .timeline-anchor {
      margin-left: -10px !important;
    }
  }
  .timeline > li > .timeline-anchor i {
    display: table-cell;
    vertical-align: middle;
    height: 44px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
    .timeline-item {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .right {
      left: 0%;
    }
}

/* Contact Page specific */

.btnContact {
    font-family: 'VT323', Arial, serif; 
    font-size: 30px; 
    letter-spacing: 4px; 
    color: black; 
    background-color: #20F2FE;
    border: none;
    border-radius: 5px;
}