
body {
    font-family: "Space Mono", Arial, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #7E7E7E;
    background: #fff;
}

highlight {
    font-family: "Space Mono", Arial, serif;
    font-weight: 600;
    font-size: 15px;
    color: #555555;
}

span {
    margin-right: 0.5em;
}

a {
    font-family: "Space Mono", Arial, serif;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    font-weight: 550;
    color: #283F99;
    text-decoration: none;
}

a:hover {
    color: #A398EF;
    text-decoration: none;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Space Mono", Arial, serif;
    color: #000;
}
  
main-container, picture {
    width: 100%;
}
  
@media (min-width: 576px) {
    main-container, picture {
      width: 50%;
    }
}
  
picture {
    background-position: center center;
    background-size: cover;
    height: 400px;
    position: relative;
}
  
@media (min-width: 576px) {
    picture {
      height: 100vh;
      position: fixed;
      right: 0;
      top: 0;
    }
}
  
main-container {
    float: left;
    padding: 7%;
    position: relative;
}
.redirect-home {
    float: left;
    position: absolute;
    top: 20px;
    color: #372A73;
    font-size: 22px;
}
.redirect-resume {
    float: left;
    position: absolute;
    top: 20px;
    left: 24%;
    color: #372A73;
    font-size: 20px;
}
.redirect-contact {
    float: left;
    position: absolute;
    top: 20px;
    left: 34%;
    color: #372A73;
    font-size: 20px;
}
  